.macBookPro142 {
    background-color: rgba(242, 242, 247, 1);
    padding: 136px 80px 376px 56px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .frame23 {
    margin-bottom: 22px;
    display: flex;
    align-items: center;
  }
  .chevronBackward {
    margin-right: 1px;
    width: 40px;
    height: 40px;
  }
  .gameHub {
    font-family: "SF Pro Display";
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    color: rgba(28, 28, 30, 1);
    letter-spacing: 0.4px;
  }
  .frame29 {
    display: flex;
    align-items: flex-start;
  }
  .frame25 {
    background-color: #000000;
    margin-right: 30px;
    overflow: hidden;
    border-radius: 20px;
    padding: 62px 101.67px 41px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    height: 297px;
  }
  .image66 {
    width: 237px;
    height: 237px;
    margin-bottom: 20px;
  }
  .eaSports {
    font-family: "SF Pro Display";
    font-size: 33px;
    font-weight: 700;
    line-height: 40px;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 0.38px;
  }
  .frame26 {
    background-color: #000000;
    margin-right: 30px;
    overflow: hidden;
    border-radius: 20px;
    padding: 51px 75.11px 39px 75.33px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    height: 310px;
  }
  .image72 {
    width: 288.23px;
    height: 228.09px;
    margin-bottom: 41.91px;
  }
  .frame27 {
    background-color: #000000;
    overflow: hidden;
    border-radius: 20px;
    padding: 59px 77px 41px 76.67px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    height: 300px;
  }
  .image73 {
    width: 285px;
    height: 217.74px;
    margin-bottom: 42.26px;
  }